{% extends 'Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
  <div class="block block--page-delete">
    <div class="block-content">
      {{ form(form) }}
    </div>
  </div>

{% endblock %}