{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
  <div class="block block--term-view">
    <div class="block-content">
      <h2 class="field field-name">{{ term.name }}</h2>
      <div class="field field-description">{{ term.description }}</div>
      <div class="field field-pages">
        <div class="list list--page-list">
          {% for page in pages %}
            <div class="list-item">
              {{  include('@Page/ViewMode/teaser.html.twig', { 'item' : page } )  }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}