{% extends "System/block.html.twig" %}
{% block block_class %}messages{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}
  {% for label, messages in app.flashes(['success','warning', 'error' , 'help']) %}
    {% for message in messages %}
      <div class="message message--{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}